body {
    background-color: #2d2d2d;
    color: white;
    margin-top: 0px;
    text-align: center;
    font-size: 200;
}
.mynav ul {
    list-style: none;
    padding: 0px;
    margin: -10px;
}
.mynav a {
float: left;
display: block;
font-family: sans-serif;
font-size: 20px;
color: white;
border: 0px solid #000;
padding: 20px 10px 20px 20px;
text-decoration: none;
}
.mynav {
    width: 100%;
    height: 45px;
    background-color: #0b98de;
    overflow: hidden;
    position: fixed;
    padding-top: -20px !important;
}
.mynav li :hover {
background-color: turquoise !important;
 }
 .myimg {
     border-radius: 50%;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     display: block;
 }